@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: #fff;
    height: 100vh;
}

p {
    color: black;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'poppins', sans-serif;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover {
    text-decoration: none !important;
}

.jumbotron {
    height: 470px;
    border: 1px solid #D29F06;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.row {
    margin: auto;
}

.card .card-body h5 {
    margin-top: -15px;
}

.bottom .card {
    width: 415px;
}

.btn {
    width: 200px;
}

/* .btn-danger {
    background-color: #FFE5CA;
} */

/* Responsive Start */
@media only screen and (max-width: 1452px) {
    .top .card {
        width: 306px;
    }

    .bottom .card {
        width: 420px;
    }
}

@media only screen and (max-width: 1399px) {
    .bottom .card {
        width: 365px;
    }
}


@media only screen and (max-width: 1280px) {
    .bottom .card {
        width: 365px;
    }
}

@media only screen and (max-width: 1200px) {
    .bottom .row {
        flex-direction: column;
    }

    .bottom .card {
        width: 696px;
    }
}


@media only screen and (max-width: 820px) {
    .row {
        flex-direction: column;
    }

    .jumbotron {
        width: max-content;
    }

    .top .card {
        width: 714px;
    }

    .bottom .card {
        width: 714px;
    }
}

@media only screen and (max-width: 767px) {
    .top .card {
        width: max-content;
    }
}

@media only screen and (max-width: 575px) {
    .top .card {
        width: 714px;
    }

    .bottom .card {
        width: 714px;
    }
}


@media only screen and (max-width: 450px) {
    .top {
        margin-left: -12px;
    }

    .jumbotron {
        width: 390px;
    }

    .top .card {
        width: 390px;
    }

    .bottom .card {
        width: 390px;
    }
}

/* Responsive End */