@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  
}
body {
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: #fff; }
  
  p {
    color: black;
    font-weight: 300; }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'poppins', sans-serif; }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a:hover {
      text-decoration: none !important; }
  
  .content {
    padding: 7rem 0; }
  
  h2 {
    font-size: 20px; }


  .half, .half .container > .row {
    height: 100vh;
    min-height: 700px; }
  
  @media (max-width: 991.98px) {
    .half .bg img{
      height: 150px; } }
  
  .half .contents {
    background: #fff; }
  
  .half .contents, .half .bg {
    width: 50%; }

    @media (max-width: 1199.98px) {
      .half .contents, .half .bg {
        width: 100%; } }

    .half .contents .form-control, .half .bg .form-control {
      border: 1px solid #CBD5E1;
      border-radius: 12px;
      height: 54px;
      background: #fff; }
      .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
        outline: none;
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); }
  
  .half .bg {
    background-size: cover;
    background-position: center; }
  
  .half a {
    color: #66BEFE;
    font-weight: 500;
    text-decoration: underline; }
  
  .half .btn {
    height: 60px;
    background-color: #17ca9c;
    /* padding-left: 150px;
    padding-right: 150px;  */
    border: none;
    border-radius: 100px;
  }

  .half .btn:hover {
    background-color: #2a7e69;
  }

  
  .half .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px; }

  .half .forgot-pass:hover{
    color: #17ca9c;
  }

  .social .btn {
    height: 50px;
    color: black;
    background-color: #F8FAFC;
    border: 1px solid #CBD5E1;
    border-radius: 12px;
    font-size: medium;
  }

  .social .btn:hover {
    background-color: #17ca9c;
    border: none;
  }