*{

  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  
}
body{
  background-color: #fff;
}



#hero-container {

  width: 837px;
  height: 605px;
  display: flex;
  justify-content: right;
  align-items: center;
 
  padding-top: 40px;
  border-radius: 20px;
}


#layanan{
  text-align: center;
  font-weight: 800;
  padding-top: 96px;
}

#hero-container span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 78px;
  position: relative;
  bottom: 50px;
  justify-content: end;
}

#hero {
  display: flex;
  position: relative;
  margin: 0 40px;
  justify-content: center;
  padding-top: 66px;
  gap: 86px;
}

.info, .medic {
  background-color: #fa9884;
}

.education, .emergence {
  background-color: #ffe5ca;
}

.info, .medic, .education {
  margin-right: 20px;
}

#hero div {
  width: 289px;
  height: 240px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero div span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 12px;
}

#hero div img {
  width: 140px;
  height: 140px;
}
@media screen and (max-width: 768px){
  #hero-container {
    border-radius: 0;
    background-size: auto;
    background-position: -300px -10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 50vh;
  }
  #hero-container span {
    text-shadow: 1px 1px #ffffff;
  }
  #hero {
    display: block;
    top: -20px;
    margin: 0;
    position: static;
  }
  #hero div {
    margin: 0 auto;
    margin-top: 40px;
  }
  
  #hero-container span {
    font-size: 35px;
  }

  
}






a {
	font-style: none;
	color: lightblue;
}


#article h1{
  padding-top: 96px;
  justify-content: center;
  text-align: center;
}

.btn1{
 background-color: #fa9884 ;
 border: none;
 font-size: 16;
 font-weight: 400;
 width: 172px;
 height: 60px;
 border-radius: 100px;
 align-items: center;
 margin-left: 100px;

}

.btn1 a{
  color: #ffff;
  text-decoration: none;
}