@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700&display=swap');

* {

  font-family: 'Poppins', sans-serif;


  scroll-behavior: smooth;

}




#hero-container {

  width: 837px;
  height: 605px;
  display: flex;
  justify-content: right;
  align-items: center;

  padding-top: 40px;
  border-radius: 20px;
}


#layanan {
  text-align: center;
  font-weight: 800;
  padding-top: 96px;
}


.slider {
  margin-bottom: 30px;
  position: relative;
}

.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: #e1f0f8;
  background: -webkit-linear-gradient(to bottom, #F0F3FA, #FDF8E3);
  background: linear-gradient(to bottom, #F0F3FA, #defff7);
  color: black;
}

.card-img-top {
  height: 270px;
}

.slider-card {
  background: #fff;
  padding: 0px 0px;
  height: 80vh;
  margin: 50px 15px 90px 15px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}

.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}




.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}

.owl-dots .owl-dot.active {
  background: #17ca9c !important;
}

.sizeImg {
  width: 99%;
}

@media screen and (max-width: 768px) {
  #hero-container {
    border-radius: 0;
    background-size: auto;
    background-position: -300px -10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 50vh;
  }

  #hero-container span {
    text-shadow: 1px 1px #ffffff;
  }

  #hero {
    display: block;
    top: -20px;
    margin: 0;
    position: static;
  }

  #hero div {
    margin: 0 auto;
    margin-top: 40px;
  }

  #hero-container span {
    font-size: 35px;
  }


}






a {
  font-style: none;
  color: lightblue;
}


#article h1 {
  margin-top: 107px;
  padding-top: 97px;
  justify-content: center;
  text-align: center;
}

.btn1 {
  background-color: #17ca9c;
  border: none;
  font-size: 16;
  font-weight: 400;
  width: 172px;
  height: 60px;
  border-radius: 100px;
  margin: auto;
}

.btn1 a {
  color: #ffff;
  text-decoration: none;
}

.form-control {
  width: 545px;
  height: 50px;
  border-radius: 12px;

}

.dropdown .btn-2 {
  width: 545px;
  height: 50px;
  border-radius: 12px;
  background-color: #fff;
  color: black;
  text-decoration: none;
  margin-left: 30px;
}

.fitur,
.hero-1 {
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  color: #dddddd;
}

.fitur-container {
  position: relative;
}

.fitur {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  left: 0;
  right: 0;
  width: auto;
  top: 0;
  bottom: 0;
  height: auto;
  margin: 7px;
  border-radius: 20px;
}

.hero-1 {
  height: 500px;
}

.img-fitur {
  width: 100%;
}

.home-img {
  height: 500px;
}

@media (min-width: 769px) {

  .fitur,
  .hero-1 {
    position: static;
    text-align: left;
    background-color: transparent;
    backdrop-filter: none;
    text-shadow: none;
    color: black;
  }

  .fitur {
    display: block;
    margin: 0;
    border-radius: none;
  }

  .fitur-detail {
    font-size: 18px;
  }

  .img-fitur {
    width: 403px;
    height: 192px;
  }

  .hero-img {
    width: 650px;
    height: auto !important;
  }
}

/* Tombol Artikel Lainnya */
.artikel-lainnya {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}

.artikel-lainnya button {
  border: none;
  padding: 20px;
  border-radius: 20px;
  font-weight: 600;
  background-color: #17ca9c;
  color: white;
}

/* justify */
.isi-layanan,
.isi-artikel,
.fitur-detail {
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'poppins', sans-serif;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a:hover {
  text-decoration: none !important;
}

.jumbotron {
  height: 470px;

  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.row {
  margin: auto;
}

.card .card-body h5 {
  margin-top: -15px;
}

.bottom .card {
  width: 415px;
}

.btn {
  width: 200px;
}

/* .btn-danger {
    background-color: #FFE5CA;
} */

/* Responsive Start */
@media only screen and (max-width: 1452px) {
  .top .card {
    width: 306px;
  }

  .bottom .card {
    width: 420px;
  }
}

@media only screen and (max-width: 1399px) {
  .bottom .card {
    width: 365px;
  }
}


@media only screen and (max-width: 1280px) {
  .bottom .card {
    width: 365px;
  }
}

@media only screen and (max-width: 1200px) {
  .bottom .row {
    flex-direction: column;
  }

  .bottom .card {
    width: 696px;
  }
}


@media only screen and (max-width: 820px) {
  .row {
    flex-direction: column;
  }

  .jumbotron {
    width: max-content;
  }

  .top .card {
    width: 714px;
  }

  .bottom .card {
    width: 714px;
  }
}

@media only screen and (max-width: 767px) {
  .top .card {
    width: max-content;
  }
}

@media only screen and (max-width: 575px) {
  .top .card {
    width: 714px;
  }

  .bottom .card {
    width: 714px;
  }
}


@media only screen and (max-width: 450px) {
  .top {
    margin-left: -12px;
  }

  .jumbotron {
    width: 390px;
  }

  .top .card {
    width: 390px;
  }

  .bottom .card {
    width: 390px;
  }
}


/* Profile */

.profile-container {
  background-color: white;
  height: fit-content;
  padding: 30px 100px 100px 100px;
}

h1.profile-header {
  font-weight: 700;
  font-size: 32px;
  /* margin-left: 200px; */
}

.top-text p {
  margin-bottom: 0px;
}

.top-text .username {
  color: #17CA9C;
}

.data-profile {
  width: 915px;
  background-color: white;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.data-profile .isi p {
  margin-bottom: 0px;
}

.isi hr {
  margin-top: 5px;
  width: 820px;
}

.ubah {
  color: #17CA9C;
}

.ubah a {
  color: #17CA9C;
}

.btn-batal {
  padding: 0px 20px 0px 20px;
  height: 52px;
  border: 2px solid #17CA9C;
  border-radius: 10px;
  color: #17CA9C;
  background-color: #fff;
}

.btn-batal:hover {
  color: white;
  background-color: #17CA9C;
}

.btn-edit {
  height: 52px;
  border: 2px solid #17CA9C;
  padding: 0px 20px 0px 20px;
  border-radius: 10px;
  color: white;
  background-color: #17CA9C;
}

.btn-edit:hover {
  color: #17CA9C;
  background-color: #fff;
}

.edit {
  display: none;
}

#check:checked~.edit {
  display: block;
}

#check:checked~.data {
  display: none;
}

#check {
  display: none;
}

.ubah label {
  color: #17CA9C;
  cursor: pointer;
}

.ubah label:hover {
  text-decoration: underline;
}