*{

  font-family: 'Montserrat', sans-serif;
  
}
body{
  background-color: #fff;
}

.carousel {
  width:800px;
  height:500px;

}

#hero-container {
  background-image: url('./images/hero_img.png');
  background-size: cover;
  height: 605px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 40px;
  border-radius: 20px;
}

#hero-container span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 78px;
  position: relative;
  bottom: 50px;
}

#hero {
  display: flex;
  position: relative;
  margin: 0 40px;
  top: -82px;
}

.info, .medic {
  background-color: #fa9884;
}

.education, .emergence {
  background-color: #ffe5ca;
}

.info, .medic, .education {
  margin-right: 20px;
}

#hero div {
  width: 289px;
  height: 240px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero div span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 12px;
}

#hero div img {
  width: 140px;
  height: 140px;
}
@media screen and (max-width: 768px){
  #hero-container {
    border-radius: 0;
    background-size: auto;
    background-position: -300px -10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 50vh;
  }
  #hero-container span {
    text-shadow: 1px 1px #ffffff;
  }
  #hero {
    display: block;
    top: -20px;
    margin: 0;
    position: static;
  }
  #hero div {
    margin: 0 auto;
    margin-top: 40px;
  }
  
  #hero-container span {
    font-size: 35px;
  }
  
  #list-card-article {
	grid-template-columns: auto;
	padding: 0 40px;
  }
  
  #article-container h3 {
    padding-left: 40px;
  }
  
}






a {
	font-style: none;
	color: lightblue;
}

#article-container {
	display: flex;
	flex-direction: column;
	height: auto;
	align-items: center;
	margin-top: 40px;
}

#article-container h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 29px;
  display: block;
  width: 100%;
}

#list-card-article {
	display: grid;
	grid-gap: 15px;
  font-family: 'Roboto';
}

#list-card-article div {
	background-color: white;
	color: black;
	border-radius: 10px;
}

.card-article-thumbnail {
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.card-article-header {
	padding: 10px 15px;
	margin: 0;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
}

.card-article-body {
	padding: 0 15px;
	font-size: 16px;
}

.card-article-footer {
	padding: 10px 15px 15px 15px;
	font-size: 11px;
	text-align: right;
}

.card-article-footer span {
  padding: 4px;
  border: 0.01px solid black;
  border-radius: 10px;
}

#loadMore {
	margin: 15px 0 100px 0;
	padding: 15px;
	background-color: #FA9884;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 17px;
	font-weight: 450;
}

#article {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
  }

@media only screen and (min-width: 769px) {
	#list-card-article {
	grid-template-columns: auto auto auto;
	grid-gap: 15px;
	padding: 0 20px;
  }
  #article-container h3 {
    padding-left: 20px;
  }
}